/* Global Items */
.login__btn {
    @apply bg-[#01b4e4] text-white text-[14px] font-medium w-auto lg:w-72 p-2 mx-5 mt-10 rounded-xl
}

.show-more__btn{
    @apply font-bold text-black bg-white px-2 py-1 rounded-lg text-[12px]
}

.watch-trailer__btn{
    @apply bg-red-600 text-white py-2 px-6 rounded-lg shadow-lg shadow-red-600 block text-[12px] md:text-[16px] animate-pulse
}

.search-bar-select{
    @apply flex-shrink-0 z-10 px-2 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 dark:border-gray-700 dark:text-white rounded-l-lg hover:bg-gray-200 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700
}

.search-bar-input-container{
    @apply relative w-full
}

.search-bar-input{
    @apply block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg focus:outline-none outline-none border-l-gray-100 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500
}

/**********************
    Header - Aside
**********************/
.header {
    @apply fixed w-20 lg:w-96 h-full
}

.sidebar {
    @apply items-center h-full flex flex-col w-full py-[50px]
}

.sidebar__logo {
    @apply pb-3 mx-4 w-full
}

.sidebar__title {
    @apply font-bold uppercase text-transparent text-center text-[48px] hidden lg:block
}

.sidebar__subtitle {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 lg:mt-[-10px]
}

.mobile__sidebar__title {
    @apply text-center text-[48px] lg:hidden font-bold text-purple-400
}

.sidebar__logo__subtitle {
    @apply text-white text-[12px] lg:text-[16px] p-2 text-center
}

.sidebar__menu {
    @apply w-full mt-20
}

.sidebar__menu-list {
    @apply flex flex-col items-center h-full w-full text-[#888888] font-semibold text-xl
}

.sidebar__menu-list-item {
    @apply mb-4 w-auto lg:w-72 p-2 lg:mx-5 rounded-xl
}

.sidebar__menu-list-item a:hover {
    color: white;
}

.sidebar__menu-list-item-text {
    @apply hidden lg:inline-block
}


/******************
        HOME
******************/
.home {
    @apply relative ml-[5rem] py-7 pl-8 pr-8 md:w-auto md:ml-20 lg:ml-96 lg:p-16 lg:pt-7
}

.herobanner{
    @apply  w-full h-[600px] lg:h-[500px] flex relative z-0
}

.herobanner__img-container::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(-90deg,
            rgba(0, 0, 0, 0.0) 0%,
            rgba(0, 0, 0, 0.1) 10%,
            rgba(0, 0, 0, 0.2) 20%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.6) 60%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 0.8) 80%,
            rgba(0, 0, 0, 0.90) 90%,
            rgba(0, 0, 0, 0.95) 95%,
            rgba(0, 0, 0, 1.0) 100%);
    top: 0;
    z-index: 20;
}



.herobanner__img-container{
    @apply w-full h-full absolute top-0 left-0 opacity-70 overflow-hidden  backdrop-blur-md
}

.herobanner__img{
    @apply w-full h-[600px] lg:h-[500px] object-cover object-center
}

.herobanner__title{
    @apply  text-[36px] md:text-[48px] lg:text-[52px] block font-semibold text-white
}

.herobanner__subtitle{
    @apply  block md:text-[16px] lg:text-[20px] mt-[-10px] text-red-300
}

.herobanner__movie-title{
    @apply font-semibold md:text-[16px] text-white lg:text-[20px] mb-3
}

.herobanner__movie-overview{
    @apply text-[14px] mb-3 text-[#888888] lg:w-96
}

.herobanner__content{
    @apply p-4
}






/*******************
    DETAILS
*******************/
.details {
    @apply relative flex flex-col ml-20 lg:ml-96 p-8 lg:pt-8  lg:p-16 bg-no-repeat bg-cover
}

.details__banner {
    @apply flex flex-col lg:flex-row z-0
}

.details__header-poster { 
    @apply w-full h-full rounded-2xl absolute left-0 top-0 opacity-50
}

.details__header-poster-img {
    @apply w-full h-full object-cover object-center
}

.details__overview {
    @apply w-full lg:w-3/4 h-full p-6 lg:p-16  lg:mt-0  z-30
}

.details__overview-title{
    @apply text-white text-[32px] mb-5 font-semibold
}

.details__overview-info{
    @apply flex items-center flex-row
}


.details__content{
    @apply mt-5
}

.details__content-title{
    @apply text-white text-[16px] md:text-[24px] 
}

.details__content-subtitle{
    @apply text-[#888888] text-[14px] md:text-[16px]
}

.details__content-info{
    @apply  mt-10 text-[#888888]
}

.details__content-info-title{
    @apply text-white text-[14px] md:text-[16px]  mr-5 
}


.video__item::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.0) 0%,
            rgba(0, 0, 0, 0.1) 10%,
            rgba(0, 0, 0, 0.2) 20%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.6) 60%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 0.8) 80%,
            rgba(0, 0, 0, 0.90) 90%,
            rgba(0, 0, 0, 0.95) 95%,
            rgba(0, 0, 0, 1.0) 100%);
    top: 0;
}

.details__overview{
    background-image: linear-gradient(-90deg,
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.90) 90%,
    rgba(0, 0, 0, 0.95) 95%,
    rgba(0, 0, 0, 1.0) 100%);
}

/*********************
        CAROUSEL
**********************/
.carousel{
    @apply flex overflow-x-auto overflow-y-hidden scroll-smooth relative
}


.carousel__item{
    @apply flex-grow-0 flex-shrink-0  w-[242px] h-[350px] bg-transparent   relative cursor-pointer
}

.carousel__title{
    @apply text-[24px] leading-[25px] md:leading-[1.2] md:text-[48px] text-transparent bg-clip-text bg-gradient-to-r font-bold from-white to-blue-500 pt-20 break-words
}

.carousel__subtitle{
    @apply mt-[-10px] md:mt-[-20px] mb-6 font-normal text-white/50 text-[14px] pt-5
}

.carousel__item-img-container{
    @apply  w-full h-full
}

.carousel__item-img{
    @apply w-full h-full object-cover
}

.carousel__content{
    @apply w-full absolute bottom-0 left-0 flex flex-col pt-3 p-4 z-30
}

.carousel__content-title{
    @apply text-white text-[16px] font-semibold
}

.carousel__content-date{
    @apply text-gray-400 text-[14px]
}


.genre-list-box{
    @apply  bg-red-600 m-1 py-1 px-2 text-white text-[12px]
}

.genre-list{
    @apply  flex flex-wrap flex-auto absolute top-[0] p-1 w-full
}

.carousel__item-img-container::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.0) 0%,
            rgba(0, 0, 0, 0.1) 10%,
            rgba(0, 0, 0, 0.2) 20%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.6) 60%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 0.8) 80%,
            rgba(0, 0, 0, 0.90) 90%,
            rgba(0, 0, 0, 0.95) 95%,
            rgba(0, 0, 0, 1.0) 100%);
    top: 0;
    left:0;
    z-index: 10;

}

.carousel__item-average{
    @apply w-[60px] absolute bottom-0 right-[10px] z-30 bg-blue-500 text-center py-2 rounded-t-full text-white font-semibold
}

.carousel__container {
    @apply container mx-auto relative
}

.carousel__header {
    @apply flex flex-col sm:flex-row justify-between items-center md:items-baseline mb-3
}

.carousel__left-arrow{
    @apply text-white  text-[30px] block cursor-pointer z-10 absolute top-[45%] left-[-10px]
}

.carousel__right-arrow{
    @apply text-white  text-[30px] block cursor-pointer z-30 absolute top-[45%] right-[-10px] 
}


/************************
    DETAILS - CAST
*************************/
.cast-list{
    @apply  flex overflow-x-hidden scroll-smooth
}

.cast-item-container{
    @apply  flex flex-col
}

.cast-item{
    @apply w-[250px] h-[350px] relative
}

.cast-item-img{
    @apply w-full h-full object-cover opacity-30 hover:opacity-75
}

.cast-item-content{
    @apply absolute bottom-[20px] left-[20px]
}

.cast-item-title{
    @apply text-white text-[20px] mt-2 font-semibold 
}

.cast-item-subtitle{
    @apply text-[#888888] text-[14px] mt-1 font-semibold
}



/***************************
    RECOMMENDATIONS
****************************/
.details__cast{
    @apply bg-[#151515] relative
}
.details__section{
    @apply  container mx-auto relative
}


/****************************
    NOT FOUND COMPENENT
*****************************/
.not__found{
    @apply  flex flex-col text-center items-center justify-center mt-10
}
.not__found-title{
    @apply text-[16px] lg:text-[24px] text-white font-bold uppercase
}
.not__found-subtitle{
    @apply text-[#888888] text-[12px] lg:text-[14px] mt-2
}


/****************************
    PAGINATION COMPENENT
****************************/
.pagination{
    @apply flex justify-between mt-3 lg:flex-row flex-col
}

.pagination-buttons{
    @apply text-[14px] font-semibold mt-3 lg:mt-0
}
.pagination-button{
    @apply bg-white text-[#151515] rounded-lg px-4 py-2 active:scale-105
}


/*****************************
    VIDEOPOPUP COMPENENT
******************************/
.video-popup{
    @apply  flex w-full justify-center items-center z-50  
}

.video-content{
    @apply  flex w-3/4 justify-center
}

.close-btn{
    @apply relative top-[-30px]
}
.close-btn-icon{
    @apply text-white text-[30px] z-30 cursor-pointer
}


/*************************
    MOVIES AND TV SHOWS
**************************/
.movies,
.tv__series{
    @apply ml-20 lg:ml-96 p-8 md:p-16 pt-16
}

.movies__title,
.tv__series-title{
    @apply  text-[48px] leading-[50px] md:leading-none md:text-[64px] text-transparent bg-clip-text bg-gradient-to-r font-bold from-white to-blue-500
}

.movies__subtitle,
.tv__series-subtitle{
    @apply mt-[-10px] md:mt-[-20px] mb-6 font-normal text-white/50 text-[14px] pt-5
}

.movies__container,
.tv__series-container{
    @apply  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
}

.movies__content-container{
    @apply h-[350px] bg-transparent relative cursor-pointer
}


.movies__content,
.tv__series-content{
    @apply w-full h-full
}

.movies__content::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.0) 0%,
            rgba(0, 0, 0, 0.1) 10%,
            rgba(0, 0, 0, 0.2) 20%,
            rgba(0, 0, 0, 0.3) 30%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.6) 60%,
            rgba(0, 0, 0, 0.7) 70%,
            rgba(0, 0, 0, 0.8) 80%,
            rgba(0, 0, 0, 0.90) 90%,
            rgba(0, 0, 0, 0.95) 95%,
            rgba(0, 0, 0, 1.0) 100%);
    top: 0;
    left:0;
    z-index: 10;
}




.movies__info,
.tv__series-info{
    @apply w-full absolute bottom-[20px] left-[20px] z-20
}

.movies__info-title,
.tv__series-title{
    @apply text-white text-[16px] font-semibold
}

.movies__info-date,
.tv__series-info-date{
    @apply text-white/50 text-[14px]
}


/*************************
        DISCOVER
**************************/
.animated__div{
    @apply relative ml-20 w-full lg:ml-[24rem] 
}

.discover-container{
    @apply lg:p-8 p-0 lg:pt-0
}

.discover__container{
    @apply w-full h-full relative bg-no-repeat bg-center bg-cover 
}
.discover__content{
    @apply h-full w-full md:w-[600px] bg-black/50 flex items-center
}

.discover__content-container{
    @apply md:w-[400px] p-6 md:p-12
}

.discover__content-title{
    @apply text-[24px] md:text-[36px] font-semibold
}

.discover__content-overview{
    @apply text-[14px] md:text-[16px] font-normal text-[#7d7d7d] mb-4
}

.discover__info{
    @apply absolute right-[30px] bottom-[30px] md:right-[50px] md:bottom-[50px]
}

.discover__info-order{
    @apply text-[48px] md:text-[96px] text-white/50 font-bold text-right
}

.discover__info-title{
    @apply animate-bounce font-semibold text-[12px] md:text-[16px]
}


/*************************
        404 PAGE
**************************/
.page__404{
    @apply ml-96 h-[100vh] flex flex-col items-center justify-center
}


/*************************
        FOOTER
**************************/
.footer{
    @apply bg-[#151515] ml-20 lg:ml-96
}

.footer__container{
    @apply container mx-auto p-10 flex flex-col lg:flex-row
}

.footer__left{
    @apply lg:border-r-2 lg:border-white w-full lg:w-1/2 items-center lg:items-end flex flex-col lg:pr-5
}

.footer__left-title{
    @apply font-bold uppercase text-[32px]
}

.footer__left-title-span{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600
}

.footer__left-subtitle{
    @apply text-white text-[12px] mt-[-10px]
}

.footer__right{
    @apply w-full lg:w-1/2 flex flex-col mt-5 lg:mt-0 lg:ml-5 items-center lg:items-start text-white
}

.footer__right-title{
    @apply font-semibold font-dancing-script text-[20px]
}