.lazy-load-image-background{
    width: 100%;
    height: 100%;
}

.lazy-load-image-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.wrapper{
    clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);

}

